<div class="container-fluid">
    <div class="row mt-4">
        <div class="col">
            <h2 class="my-2">INVENTORY</h2>
        </div>
        <div class="col ms-5">
            <button  type="button" (click)="onAdd()"
            class="btn btn-dark btn-sm me-2 ms-5">
            <span>Add new Product</span>
        </button>
        </div>
        <div class="col">

        </div>
    </div>
    
    <div class="row">
        <div>
            
        
        </div>
        
        <div class="col-md-6 list-section">

            <table class="table table-responsive" aria-describedby="inventory">
                <thead>
                  <tr>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of products" >
                    <td>{{product.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.quantity}}</td>
                    <td> <button [class.selected]="product === selectedProduct" type="button" (click)="onEdit(product)" class="btn btn-warning btn-sm me-2">
                        <span>Edit</span>
                    </button>
                    <button [class.selected]="product === selectedProduct" type="button" (click)="onDelete(product)" class="btn btn-danger btn-sm me-2">
                    <span>Delete</span>
                </button>
            </td>
                  </tr>
                </tbody>
              </table>
        </div>
        <div class="col detail-section px-5 py-3">
            <div *ngIf="selectedProduct && dissapear " >
                <h5>{{selectedProduct.name | uppercase}} </h5>
                <div class="mb-3">
                    <label for="product-name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="product-name" [(ngModel)]="selectedProduct.name">
                </div>
                <div class="mb-3">
                    <label for="product-description" class="form-label">Description</label>
                    <textarea class="form-control" id = "product-description" [(ngModel)] ="selectedProduct.description" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label for="product-price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="product-price" [(ngModel)]="selectedProduct.price">
                </div>
                <div class="mb-3">
                    <label for="product-quantity" class="form-label">Quantity</label>
                    <input type="text" class="form-control" id="product-quantity" [(ngModel)]="selectedProduct.quantity">
                </div>
                <div class="mb-3">
                    <label for="product-manufacturer" class="form-label">Manufacturer</label>
                    <input type="text" class="form-control" id="product-manufacturer" [(ngModel)]="selectedProduct.manufacturer">
                </div>
                <div class="mb-3">
                    <label for="product-imageUrl" class="form-label">ImageUrl</label>
                    <input type="text" class="form-control" id="product-imageUrl" [(ngModel)]="selectedProduct.imageUrl">
                </div>
                <div class="d-grid">
                    <button class="btn btn-dark" [class.selected]="selectedProduct === savedProduct" type="button" (click)="onSave(selectedProduct)" [disabled]="selectedProduct.price < 0 || selectedProduct.quantity < 0">
                        Save
                    </button>
                </div>
              </div>




            <div *ngIf="addProduct">
                <form #UserRegistrationForm="ngForm">
                <div class="mb-3">
                    <label for="product-name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" id="product-name" #name="ngModel" [(ngModel)]="newProduct.name" required name="name">
                </div>
                <div class="mb-3">
                    <label for="product-description" class="form-label">Description</label>
                    <textarea class="form-control" id="product-description" rows="3" #description="ngModel" [(ngModel)]="newProduct.description" required name="description"></textarea>
                </div>
                <div class="mb-3">
                    <label for="product-price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="product-price" #price="ngModel" [(ngModel)]="newProduct.price" required name="price">
                </div>
                <div class="mb-3">
                    <label for="product-quantity" class="form-label">Quantity</label>
                    <input type="text" class="form-control" id="product-quantity" #quantity="ngModel" [(ngModel)]="newProduct.quantity" required name="quantity">
                </div>
                <div class="mb-3">
                    <label for="product-manufacturer" class="form-label">Manufacturer</label>
                    <input type="text" class="form-control" id="product-manufacturer" #manufacturer="ngModel" [(ngModel)]="newProduct.manufacturer" required name="manufacturer">
                </div>
                <div class="mb-3">
                    <label for="product-imageUrl" class="form-label">ImageUrl</label>
                    <input type="text" class="form-control" id="product-imageUrl" #imageUrl="ngModel" [(ngModel)]="newProduct. imageUrl" required name="imageUrl">
                </div>
                <div class="d-grid">
                    <button class="btn btn-dark" type="submit" [disabled]="!UserRegistrationForm.valid" (click)="submitData()">
                        Save
                    </button>
                </div>
                </form>
            </div>


        </div>
    </div>
</div>